.editing.editing, .highlighting.highlighting {
    margin: 10px;
    padding: 10px;
    border: 0;
    width: 800px;
    height: 150px;
    position: absolute;
    top: 0;
    left: 0;
    overflow: auto;
    white-space: nowrap;
}

.editing.editing {
    color: transparent;
    background: transparent;
    caret-color: white;
    resize: none;
    z-index: 1;
}

.highlighting.highlighting {
    z-index: 0;
}

.editing.editing,
.highlighting.highlighting,
.highlighting.highlighting * {
    font-size: 15pt;
    font-family: monospace;
    line-height: 20pt;
    tab-size: 2;
}