.container {
  padding: 20px;
  height: calc(100% - 300px - 3rem);
  display: flex;
  justify-content: center;
  align-items: center;
}

.value {
  margin-left: 5px;
}

.description.micro {
  font-size: 18px;
  text-align: center;
}

.registers {
  margin-top: 18px;
  font-size: 17px;
  display: flex;
  flex-wrap: wrap;
}

.registers .description {
  flex-grow: 1;
  width: 33%;
  text-align: center;
}

.description {
  font-size: 17px;
}

.flags {
  font-size: 17px;
  margin-top: 18px;
  display: flex;
  justify-content: space-around;
}

.buttons {
  margin-top: 18px;
  display: flex;
  justify-content: center;
}

.buttons button {
  margin-left: 10px;
  margin-right: 10px;
  padding: 8px 16px;
  border: 0;
  color: #fff;
  background-color: #380a8e;
  transition: all 0.2s;
  font-size: 15px;
}

.buttons button:hover {
  background-color: #2c086e;
}

.clockContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.clockContainer .range {
  margin: 0 8px;
  padding: 0;
  width: 12.5em;
  height: 1.5em;
  background: transparent;
  font: 1em/1 arial, sans-serif;
}
.clockContainer .range, .clockContainer .range::-webkit-slider-thumb {
  -webkit-appearance: none;
}
.clockContainer .range::-webkit-slider-runnable-track {
  box-sizing: border-box;
  border: none;
  width: 12.5em;
  height: 0.25em;
  background: #fff;
}
.clockContainer .range::-moz-range-track {
  box-sizing: border-box;
  border: none;
  width: 12.5em;
  height: 0.25em;
  background: #fff;
}
.clockContainer .range::-ms-track {
  box-sizing: border-box;
  border: none;
  width: 12.5em;
  height: 0.25em;
  background: #fff;
}
.clockContainer .range::-webkit-slider-thumb {
  margin-top: -0.625em;
  box-sizing: border-box;
  border: none;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  background: #380a8e;
  border: 3px solid #fff;
}
.clockContainer .range::-moz-range-thumb {
  box-sizing: border-box;
  border: none;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  background: #380a8e;
}
.clockContainer .range::-ms-thumb {
  margin-top: 0;
  box-sizing: border-box;
  border: none;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  background: #380a8e;
}
.clockContainer .range::-ms-tooltip {
  display: none;
}

.clockContainer label {
  display: inline-block;
  position: relative;
  width: 60px;
  color: #fff;
  line-height: 20px;
  text-align: center;
  border-radius: 3px;
  background: #380a8e;
  padding: 5px 10px;
}
